table {
    border-collapse: collapse;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

th{
    
    
    padding: 20px 10px;
        
}
td {
    
    padding: 5px 10px;
    text-align: left;
    border: 1px solid black;
}

thead {
    background-color: #005ba0;
    border: 1px solid #005ba0;
    color: white;
}


